.center{
  margin: 0 auto;
  text-align: center;
}

.panel-default > .panel-heading {
  background-color: #CEF2E0;
}

.green-background {
  background-color: #F5FFFA;
}

.blue-header .panel-default > .panel-heading {
  background-color: #CEDFF2;
}

.blue-background {
  background-color: #F5FAFF;
}

.purple-header .panel-default > .panel-heading {
  background-color: #DDCEF2;
}

.purple-background {
  background-color: #FAF5FF;
}

.well{
  background-color: #DDDDDD;
}

.push-page-down {
  margin-top: 20px;
}

.image-float-left {
  float: left;
  padding-right: 20px;
  padding-bottom: 2px;
}
.image-float-right {
  float: right;
  padding-left: 20px;
  padding-bottom: 2px;
}
