.center{
  margin: 0 auto;
  text-align: center;
}

.panel-default > .panel-heading {
  background-color: #CEF2E0;
}

.green-background {
  background-color: #F5FFFA;
}

.blue-header .panel-default > .panel-heading {
  background-color: #CEDFF2;
}

.blue-background {
  background-color: #F5FAFF;
}

.purple-header .panel-default > .panel-heading {
  background-color: #DDCEF2;
}

.purple-background {
  background-color: #FAF5FF;
}

.well{
  background-color: #eee;
}

.push-page-down {
  padding-top: 20px;
}

.margin-right-zero {
  margin-right: -15px;
}

.main-background {
  background-color: #F6F6F6;
}

.secondary-background {
  background-color: #fff;
}

.image-float-left {
  float: left;
  padding-right: 20px;
  padding-bottom: 2px;
}
.image-float-right {
  float: right;
  padding-left: 20px;
  padding-bottom: 2px;
}

.side-nav {
  padding-top: 30px;
  list-style-type: none;
  padding-left: 10px;
  padding-bottom: 5px;
  border-bottom: 0.5px solid gray;
}

.p-center-text {
  padding-top: 75px;
}

.move-ul-down {
  padding-top: 20px;
}

.next-side-nav {
  list-style-type: none;
  padding-left: 30px;
  padding-bottom: 5px;
  border-bottom: 0.5px solid gray;
}
